* {
  box-sizing: border-box;
}

@font-face {
  font-family:'fugue-regular' ;
  src: url('fonts/three/fugue_regular.otf')format('opentype');
}

@font-face {
  font-family:'Universe' ;
  src: url('fonts/four/UniversNextPro-LightExt.otf')format('opentype');
}

@font-face {
  font-family:'Albertus' ;
  src: url('fonts/two/Monotype\ -\ AlbertusMTPro\ copy.otf')format('opentype');
}

@font-face {
  font-family:'Rigraf' ;
  src: url('fonts/one/DXRigraf-SemiBold.otf')format('opentype');
}

@font-face {
  font-family:'Sharp' ;
  src: url('fonts/four/Lausanne-300.otf')format('opentype');
}

body {
  width: 100vw;
  height: 100vh;
  padding: 0;
  overflow:scroll;
  font-size: 20px;
  overflow-x: hidden;
  margin-left:50px;
  margin-top:-20px;
  background-color: blue;
 
}

p{
  font-family: 'Universe';
  line-height: 25px;
}

.intro {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: left;
  margin:0%;
  align-items: flex-start;
  width:100vw;
  border-color: black;
  border-style:solid;
  padding:0;
 background-color: white;
}



.title{
  display: flex;
  flex-direction: column;
  width:30%;
  font-family: 'Albertus';
  font-size: 80px;
  padding-top:20px;
  padding-left:30px;
  padding-right:30px;
  margin:0%;
  padding-top:60px;
  line-height: 90px;

 
}

.title:hover{
  color:blue;

}

.imageone{
  display:flex;
  flex-direction: row;
  width:45%;
  border-color: black;
  border-style:solid;
  border-top:none;
  border-bottom: none;
  padding:30px;

}

.subheader{
  display:flex;
  width:22%;
  align-items: right;
  font-size: 30px;
  padding: 20px;
  padding-top:400px;
  text-align: left;
  font-family: 'Sharp';
  border-color: black;
  border-style:solid;
  border-right: none;
  border-left: none;
  border-top:none;
  margin-top:0;
  margin-right:0;
  line-height: 35px;

}

.subheader:hover{
  color:white;
  background-color: blue;
}

.byline {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: space-between;
  align-content: center;
  text-align: left;
  margin:0%;
  align-items: flex-start;
  width:100%;
  border-color: black;
  border-style:solid;
  padding:0;
  border-top:none;
 
}

.profile{
  display: flex;
  flex-direction: column;
  flex-flow: wrap;
  width:10%;
  padding-left:30px;
  font-family: 'Sharp';


 
}


.author{
  display: flex;
  flex-direction: column;
  width:10%;
  

}

.caption{
  display:flex;
  flex-direction: row;
  width: 50%;
  font-style: italic;
  
}



.flex-container-one {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: left;
  margin:0%;
  align-items: flex-start;
  width:100%;
  border-color: black;
  border-style:solid;
  border-top:none;
  padding:0;
  background-color: white;
  margin-bottom: 0;

 
}

.bodyone{
  display: flex;
  flex-direction: column;
  flex-grow: inherit;
  width:50%;
  padding-top:20px;
  padding-left:30px;
  padding-right:30px;
  margin:0%;
  padding-top:60px;
  border-color: black;
  border-style:solid;
  border-top:none;
  border-left:none;
  border-bottom: none;
  padding-right:8%;
  padding-bottom: 10px;
  

 
}

.imagetwo{
  display:flex;
  flex-direction: row;
  max-width:100%;
  padding:0px;
  border-right:none;
  border-bottom: none;
  align-items: center;

}

figure{
  display:flex;
  flex-direction: column;
  max-width:40%;
  border-color: black;
  border-style:solid;
  border-top:none;
  border-left:none;
  padding:30px;
  border-right:none;
  border-bottom: none;
  align-items: center;

}

figcaption{
  display:flex;
  flex-direction: column;
  width:128%;

  justify-content: center;
  justify-items: center;
  padding-left:10px;
  font-family: "universe";
  font-size: 14px;;

  border-top: 3px solid black;
  padding-left: 70px;
  padding-right: 70px;

  height: 80px;
  padding-top: 80px;
  font-style: italic;
  font-weight: 800;
  

}

figcaption:hover{

color:blue;
}

.pullquote {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
 justify-content: center;
 padding-top:40px;
  text-align: left;
  margin:0%;
  font-family: "Sharp";
  background-color: white;
  font-size: 50px;
  align-items: flex-start;
  width:100%;
  height:100px;
  border-color: black;
  border-style:solid;
  border-top:none;

 
}

.pullquote:hover {
  color:white;
  background-color: blue;
}

.flex-container-two {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: left;
  margin:0%;
  align-items: flex-start;
  width:100%;
  border-color: black;
  border-style:solid;
  border-top:none;
  padding-right:15%;
  padding-left:15%;
  background-color: white;
  margin-bottom: 0;
  margin-top:-20px;
  

 
}


.sides {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: left;
  margin:0%;
  align-items: flex-start;
  width:100%;
  border-color: black;
  border-style:solid;
  border-top:none;
  padding:0;
  background-color: white;
  margin-bottom: 0;

 
}

.imagethree{
  display:flex;
  flex-direction: row;
  width:48%;
  border-color: black;
  border-style:solid;
  border-top:none;
  border-bottom: none;
  padding:30px;
  border-right:none;
  border-left:none;

}

.imagefour{
  display:flex;
  flex-direction: row;
  width:49%;
  border-color: black;
  border-style:solid;
  border-top:none;
  border-bottom: none;
  padding:30px;

}

.captionthree {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  text-align: center;
  margin:0%;
  width:100%;
  border-color: black;
  border-style:solid;
  padding:0;
  border-top:none;
  height: 80px;
  padding-top: 30px;
  font-style: italic;
}

.flexbox-container-three {
  display:flex;
  flex-direction: row;
  flex-wrap:wrap;
  text-align: left;
  margin:0%;
  align-items: flex-start;
  width:100%;
  border-color: black;
  border-style:solid;
  border-top:none;
  padding-right:15%;
  padding-left:15%;
  background-color: white;
  margin-bottom: 0;

  

 
}